body {
	overflow-x: hidden;
	font-size: 1em;
	background: $white;
	font-family: $prm-font;

	@include mq(sm) {
		font-size: 1.2em;
	}

	@include mq(md) {
		font-size: 1em;
	}

	@include mq(lg) {
		font-size: 1em;
	}
}